<h3>updateDetails User</h3>
<div >
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">User Id</label>
      <input type="text" class="form-control" id="userId" 
      required [(ngModel)]="user.userId" name="userId">
    </div>

    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="userName" 
      
      required [(ngModel)]="user.userName" name="userName">
    </div>

    
    <div class="form-group">
        <label for="name">User Email</label>
        <input type="email" class="form-control" id="userEmail" 
        
        required [(ngModel)]="user.userEmail" name="userEmail">
      </div>

      
    <div class="form-group">
        <label for="name">User Password</label>
        <input type="password" class="form-control" id="userPassword" 
        
        required [(ngModel)]="user.userPassword" name="userPassword">
      </div>

      
    <div class="form-group">
        <label for="name">User MobileNo</label>
        <input type="text" class="form-control" id="userMobNo" 
        
        required [(ngModel)]="user.userMobNo" name="userMobNo">
      </div>

      
    <div class="form-group">
        <label for="name">User LastName</label>
        <input type="text" class="form-control" id="userLastName" 
        
        required [(ngModel)]="user.userLastName" name="userLastName">
      </div>
   

    <button type="submit" class="btn btn-success">Edit</button>
  </form>
</div>