<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User-Id</th>
            <th>User-Name</th>
            <th>User-EmailId</th>
            <th>User-PassWord</th>
            <th>User-MobileNo</th>
            <th>User-LastNAme</th>
            

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users |  async" >
            <td>{{u.userId}}</td>
            <td>{{u.userName}}</td>
            <td>{{u.userEmail}}</td>
            <td>{{u.userPassword}}</td>
            <td>{{u.userMobNo}}</td>
            <td>{{u.userLastName}}</td>
            <td><button (click)="deleteUser(u.userId)"  class="btn btn-danger">Delete</button>
              <button (click)="userDetails(u.userId)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="updateDetails(u.userId)" class="btn btn-info" style="margin-left: 10px">Edit</button>
            </td>
            
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>