<h2>Movie details</h2>
<hr>
<div *ngIf="movie">
  <div>
    <label><b>Movie Id: </b></label> {{movie.movieId}}
  </div>
  <div>
    <label><b>Movie Name: </b></label> {{movie.movieName}}
  </div>
  <div>
    <label><b>Duration Time: </b></label> {{movie.durationTime}}
  </div>
  <div>
    <label><b>Movie Rate: </b></label> {{movie.movieRate}}
  </div>
  <div>
    <label><b>Movie Cast: </b></label> {{movie.movieCast}}
  </div>
  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Movie List</button><br>