<!--Footer section-->
<footer id="footer">
    
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-7 footer-contact">
            <h3>Book Your Show</h3>
            <p>
              <strong>Batch:</strong>J30<br>
              <strong>Phone:</strong> +91 8177882577<br>
              
              <strong>Email:</strong> bookyourshowgmail.com<br>
            </p>
          </div>
  
          <div class="col-lg-3 col-md-7 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About-Us</a></li>
              
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/movie">Movies</a></li>
            </ul>
          </div>
  
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Latest Movies to Book..</h4>
           <p> Dunki<br><br>Animal<br><br>
                Sam Bahadur <br><br>Jhimma2
          </p>
          </div>
  
  
  
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong></strong>. All Rights Reserved
        </div>
        <div class="credits">
         
          Designed by <a href="#">shilpa Bhalerao, Aniket Mane, Pratiksha Anant, Divya Badure(Batch 30) </a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="fa fa-twitter" style="font-size:24px"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook-square" style="font-size:24px"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram" style="font-size:24px"></i></a>
        <a href="#" class="WhatsApp"><i class="fa fa-whatsapp" style="font-size:24px"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  